@font-face {
    font-family: seb;
    src: url(./sf-pro-display_regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: seb;
}

html,
body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 60px;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav h4{
    color: white;
    font-weight: 400;
}

#center {
    height: 80%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
    background-position: center;
    background-size: cover;
    padding: 60px;
    text-align: center;
}

#center h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    
}

#center h5 {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

button {
    padding: 10px 40px;
    border-radius: 50px;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 18px;
}
